.list__item {
    color: var(--stone-600, #5F564D);
    text-align: left;
    display: flex;
    align-items: center;
    position: relative;
}

.list__item::marker {
    color: var(--brown-800);
    font-weight: bolder;
    margin-right: 40px;
}

.list__item::before {
    content: "•";
    color: var(--brown-800);
    font-size: 16px;
    padding-left: var(--spacing-100);
    margin-right: var(--spacing-200);
}