@import url(../../index.css);

.list__item {
    color: var(--stone-600, #5F564D);
    text-align: left;
    display: flex;
    align-items: center;
}

/* .list__item::marker {
    color: var(--brown-800);
    font-weight: bolder;
    padding-right: var(--spacing-200);
} */

.list__item::before {
    content: "•";
    width: var(--spacing-200);
    color: var(--brown-800);
    padding-left: var(--spacing-100);
    margin-right: var(--spacing-200);
}