.recipe__title {
    margin: 0;
    font-family: 'Young Serif', serif;
    font-weight: var(--regular);
    font-size: clamp(2.25rem, calc(1.95rem + 1.11vw), 2.5rem);
    line-height: 100%;
    letter-spacing: 0;
}