.nutrition__table {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr; */
    /* border-bottom: 1px solid var(--rose-50); */
    column-gap: var(--spacing-200);
}