<<<<<<< HEAD
@import url("__break/section__break.css");
@import url("__subtitle/section__subtitle.css");
@import url("__title/section__title.css");
=======
@import url("./__break/section__break.css");
@import url("./__subtitle/section__subtitle.css");
@import url("./__title/section__title.css");
>>>>>>> older

.section {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: var(--spacing-300) 0;
}