@import url("card/card.css");
@import url("instructions/instructions.css");
@import url("list/list.css");
@import url("nutrition/nutrition.css");
@import url("preparation/preparation.css");
@import url("recipe/recipe.css");
@import url("section/section.css");

/* Design System */

:root {
    /* Colors */
    --white: hsl(0deg 0% 100%);
    --stone-100: hsl(30deg 54% 90%);
    --stone-150: hsl(30deg 18% 87%);
    --stone-600: hsl(30deg 10% 34%);
    --stone-900: hsl(24deg 5% 18%);
    --brown-800: hsl(14deg 45% 36%);
    --rose-50: hsl(330deg 100% 98%);
    --rose-800: hsl(332deg 51% 32%);

    /* Spacing */
    --spacing-100: 0.5rem;    /* 8px */
    --spacing-150: 0.75rem;   /* 12px */
    --spacing-200: 1rem;      /* 16px */
    --spacing-300: 1.5rem;    /* 24px */
    --spacing-400: 2rem;      /* 32px */
    --spacing-500: 2.5rem;    /* 40px */
    --spacing-600: 3rem;      /* 48px */
    --spacing-1600: 8rem;     /* 128px */

    /* Typography */
    --regular: 400;
    --semi-bold: 600;
    --bold: 700;

    /* Devices */
    --size-mobile: 375px;
    --size-tablet: 768px;
}

/* Text & font presets */

@font-face {
    font-family: Outfit;
    src: url("../assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}

@font-face {
    font-family: 'Young Serif';
    src: url("../assets/fonts/young-serif/YoungSerif-Regular.ttf");
}

.text-preset-1 {
    margin: 0;
    font-family: 'Young Serif', serif;
    font-weight: var(--regular);
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0;
}

.text-preset-2 {
    margin: 0;
    font-family: 'Young Serif', serif;
    font-weight: var(--regular);
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0;
}

.text-preset-3 {
    margin: 0;
    font-family: Outfit, sans-serif;
    font-weight: var(--semi-bold);
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0;
}

.text-preset-4 {
    margin: 0;
    font-family: Outfit, sans-serif;
    font-weight: var(--regular);
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0;
}

.text-preset-4-bold {
    font-family: Outfit, sans-serif;
    font-weight: var(--bold);
    font-size: 16px;
    line-height: 150%;
}

/* Custom CSS */

.page {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: var(--stone-100);
    font-family: Outfit, sans-serif;
    color: var(--stone-900);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    font-size: 11px;
    text-align: center;
}

.footer-link {
    color: hsl(228deg 45% 44%);
}