.card__image {
    margin: 0 auto;
    width: 100%;
    max-width: 656px;
    border-radius: var(--spacing-150);
}

@media screen and (max-width: 767px) {
    .card__image {
        border-radius: 0;
    }  
}