.card__image {
    margin: 0 auto;
    width: 100%;
    max-width: 656px;
    border-radius: var(--spacing-150);
}

@media screen and (width <= 48rem) {
    .card__image {
        border-radius: 0;
    }  
}